body{
    margin: 0;
    padding: 0;
    background-color: white;
}

h1{
    font-family: 'Ubuntu', sans-serif;
    color: white;
}

h2{
    font-family: 'Questrial', sans-serif;
    text-transform: uppercase;
    color: rgb(88, 88, 88);
    border-bottom: 3px solid rgb(88, 88, 88);
    border-radius: 6px;
}

.main_page{
    background-color: white;
    margin: 0;
    padding: 0;
    height: 100%;
    Display: flex;
    flex-direction: row;
}

.main_page .fix{
    background-color: black;
    position: fixed;
    height: auto;
    width: 33%;
    text-align: center;
    color: white;    
}
.presentation{
    
}

.float_icon{
    float: left;
}

.main_page .scroll{
    padding-left: 35%;
    margin-top: 0;
    padding-top: 0.5%;
    padding-bottom: 1%;
}

.main_page .fix img{
    width: 10%;
}

.main_page .fix .photo_nom_presentation img{
    width: 50%;
    padding-top: 10px;
    border-radius: 50%;
}

.photo_nom_presentation{
    width: 100%;
}

body{
    background-color: #9d9d9d;
}

.fix .adresse{
    width: 100%;    
}

.presentation{
    text-align: justify;
    padding: 0% 3% 0% 3%;
}

.gras{
    font-weight: bold;
}

.italic{
    font-style: italic;
}

.border_icons{
    background-color: white;
    color: black;
    margin: 10px;
    border-radius: 3px;
    padding: 10px;
}